@if (store?.loading()) {
   <div class="container mx-auto">
     <div class="p-4 bg-white rounded-md">
      <div class="flex flex-col justify-center items-center mx-auto">
         <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
         </svg>
         <div class="mt-4">Loading messages...</div>
      </div>
      </div>
   </div>
   } @else {
   @if (!store?.loading()) {
      <div class="container mx-auto">
        <div class="flex flex-wrap justify-between items-center space-y-5 md:space-y-0">
           <a (click)="goBack()" class="bg-gray-300 p-1 rounded-full cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="size-6">
                 <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
              </svg>
           </a>
           <h3 class="text-xl font-bold rounded-md px-2">
              {{store?.conversation() | Emails: [store?.profile()?.email]}}
           </h3>
        </div>
        <div class="mx-auto mt-3 mb-3 border-t border-gray-200"></div>
      </div>
      <div class="container mx-auto">
        <div class="bg-white p-4 rounded-md overflow-y-scroll scroll-smooth max-h-[60rem]" #message>
          @if(store?.conversation()?.length > 0) {
           @for (message of store?.conversation(); track message.messageId) {
           @if (store?.profile().email === message.receiverEmail) {
           <div class="flex gap-2.5 mb-2">
              <img [src]="message.senderImageUrl" [alt]="message.senderFirstName" class="w-11 h-11 rounded-full object-cover" loading="lazy">
              <div class="grid">
                 <h5 class="text-gray-900 text-sm font-semibold leading-snug pb-1">{{message.senderFirstName}} {{message.senderLastName}} - {{message.senderEmail}}</h5>
                 <div class="px-3.5 py-2 bg-gray-200 rounded justify-start items-center gap-3 inline-flex">
                    <h5 class="text-gray-900 text-sm font-normal leading-snug break-words">{{message.message}}</h5>
                 </div>
                 <div class="justify-end items-center inline-flex mb-2.5">
                    <h3 class="text-gray-500 text-xs font-normal leading-4 py-1">{{message.createdAt | date: 'medium'}}</h3>
                 </div>
              </div>
           </div>
           } @else {
           <div class="flex gap-2.5 justify-end mb-2">
              <div class="grid">
                 <h5 class="text-right text-gray-900 text-sm font-semibold leading-snug pb-1">{{store?.profile().email === message.senderEmail ? 'You' : message.senderEmail}}</h5>
                 <div class="px-3.5 py-2 bg-blue-600 rounded justify-start items-center gap-3 inline-flex">
                    <h5 class="text-gray-100 text-sm font-normal leading-snug break-words">{{message.message}}</h5>
                 </div>
                 <div class="justify-start items-center inline-flex">
                    <h3 class="text-gray-900 text-xs font-normal leading-4 py-1">{{message.createdAt | date: 'medium'}}</h3>
                 </div>
              </div>
              <img [src]="message.senderImageUrl" [alt]="message.senderFirstName" class="w-11 h-11 rounded-full object-cover" loading="lazy">
           </div>
           }
           }
           <form #messageForm="ngForm" (ngSubmit)="saveMessage(messageForm)">
              <div class="flex items-center justify-between gap-x-2">
                 <input type="hidden" name="toEmail" ngModel="{{store?.conversation() | Emails: [store?.profile()?.email, 'a']}}" autocomplete="off" required />
                 <input type="text" ngModel name="message" autocomplete="off" placeholder="Type your message here..." required class="block w-full p-3 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500" />
                 <button type="submit" [disabled]="messageForm.invalid" class="disabled:bg-gray-300 disabled:border-none text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-3">Send</button>
              </div>
           </form>
          } @else {
            @if (!store?.loading() && store?.conversation()?.length == 0) {
               No messages found
            }
          }
        </div>
      </div>
   }
}