@if (loading()) {
      <div class="container mx-auto">
         <div class="flex flex-col justify-center items-center mx-auto pt-10">
            <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin fill-blue-600" viewBox="0 0 100 101" fill="none"
               xmlns="http://www.w3.org/2000/svg">
               <path
                  d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                  fill="currentColor" />
               <path
                  d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                  fill="currentFill" />
            </svg>
            <div class="mt-4">Authenticating...</div>
         </div>
      </div>
} @else {
   @if (!loading()) {
         <section class="container mx-auto">
            <div class="flex align-center justify-between gap-y-40 mt-20 mb-10">
               <div class="place-self-center">
                  <h1 class="text-4xl font-extrabold mb-4 xl:text-6xl">
                     Cat Support
                  </h1>
                  <h2 class="text-xl font-extrabold mb-4 xl:text-3xl">Ticket Management System of the Future.</h2>
                  <p class="text-gray-500 font-light md:text-lg lg:text-xl">
                     Individuals and companies trust Cat Support. Where Technology Meets Efficiency: Delivering Faster, Smarter,
                     and More Organized Solutions for All Your Support Needs.
                  </p>
               </div>
               <div class="hidden md:block">
                  <img src="https://cdn-icons-png.flaticon.com/512/9732/9732800.png" class="grow-shrink" />
               </div>
            </div>
         </section>
         <div class="container mx-auto mt-3 mb-3 border-t border-gray-200"></div>
         <section class="container mx-auto md mt-10">
            <div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 items-center gap-6 md:gap-10 mb-4">
               <div class="size-full bg-white rounded-lg p-3 border border-gray-200">
                  <div class="flex items-center gap-x-4 mb-3">
                     <div
                        class="inline-flex justify-center items-center size-12 rounded-full border-4 border-blue-50 bg-blue-100">
                        <svg class="shrink-0 size-6 text-blue-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                           viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                           stroke-linejoin="round">
                           <circle cx="13.5" cy="6.5" r=".5" />
                           <circle cx="17.5" cy="10.5" r=".5" />
                           <circle cx="8.5" cy="7.5" r=".5" />
                           <circle cx="6.5" cy="12.5" r=".5" />
                           <path
                              d="M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 0 1 0 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 0 1 0-5.198V6.375c0-.621-.504-1.125-1.125-1.125H3.375Z" />
                        </svg>
                     </div>
                     <div class="shrink-0">
                        <h3 class="block text-lg font-semibold text-gray-800">Ticket Management</h3>
                     </div>
                  </div>
                  <p class="text-gray-600">Create, sort, filter, update all your tickets in one centralized place.</p>
               </div>
               <div class="size-full bg-white rounded-lg p-3 border border-gray-200">
                  <div class="flex items-center gap-x-4 mb-3">
                     <div
                        class="inline-flex justify-center items-center size-12 rounded-full border-4 border-blue-50 bg-blue-100">
                        <svg class="shrink-0 size-6 text-blue-600" xmlns="http://www.w3.org/2000/svg" fill="none"
                           viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                           <path stroke-linecap="round" stroke-linejoin="round"
                              d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 0 1 .865-.501 48.172 48.172 0 0 0 3.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
                        </svg>
                     </div>
                     <div class="shrink-0">
                        <h3 class="block text-lg font-semibold text-gray-800">Team Communication</h3>
                     </div>
                  </div>
                  <p class="text-gray-600">Send message and add comments to your clients and support team.</p>
               </div>
               <div class="size-full bg-white rounded-lg p-3 border border-gray-200">
                  <div class="flex items-center gap-x-4 mb-3">
                     <div
                        class="inline-flex justify-center items-center size-12 rounded-full border-4 border-blue-50 bg-blue-100">
                        <svg class="shrink-0 size-6 text-blue-600" xmlns="http://www.w3.org/2000/svg" fill="none"
                           viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                           <path stroke-linecap="round" stroke-linejoin="round"
                              d="M7.5 14.25v2.25m3-4.5v4.5m3-6.75v6.75m3-9v9M6 20.25h12A2.25 2.25 0 0 0 20.25 18V6A2.25 2.25 0 0 0 18 3.75H6A2.25 2.25 0 0 0 3.75 6v12A2.25 2.25 0 0 0 6 20.25Z" />
                        </svg>
                     </div>
                     <div class="shrink-0">
                        <h3 class="block text-lg font-semibold text-gray-800">Admin Dashboard</h3>
                     </div>
                  </div>
                  <p class="text-gray-600">Display relevant data, metrics, charts, and graphs to drive outcomes.</p>
               </div>
               <div class="size-full bg-white rounded-lg p-3 border border-gray-200">
                  <div class="flex items-center gap-x-4 mb-3">
                     <div
                        class="inline-flex justify-center items-center size-12 rounded-full border-4 border-blue-50 bg-blue-100">
                        <svg class="shrink-0 size-6 text-blue-600" xmlns="http://www.w3.org/2000/svg" fill="none"
                           viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                           <path stroke-linecap="round" stroke-linejoin="round"
                              d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
                        </svg>
                     </div>
                     <div class="shrink-0">
                        <h3 class="block text-lg font-semibold text-gray-800">User Management</h3>
                     </div>
                  </div>
                  <p class="text-gray-600">Creating, updating, and access control users accounts</p>
               </div>
            </div>
         </section>
         <section class="container mx-auto bg-white rounded-md mt-10">
            <div class="px-4 py-8">
               <div class="lg:grid gap-8 lg:grid-cols-2">
                  <div class="flex items-start">
                     <div class="text-gray-500">
                        <h2 class="mb-4 text-3xl font-extrabold text-gray-900">
                           Streamline Support, Resolve Faster.
                        </h2>
                        <p class="mb-8 lg:text-xl">
                           Empowering Seamless Communication, Efficient Problem-Solving, and Smarter Support Management—All in
                           One System.
                        </p>
                        <ul class="pt-8 border-t border-gray-200 my-7">
                           <li class="flex align-items mb-3">
                              <svg class="w-5 h-5 text-blue-500 mr-2" fill="currentColor" viewBox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                 <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                    clip-rule="evenodd"></path>
                              </svg>
                              <span class="text-gray-900 font-medium">
                                 Ticket Creation and Submission
                              </span>
                           </li>
                           <li class="flex align-items mb-3">
                              <svg class="w-5 h-5 text-blue-500 mr-2" fill="currentColor" viewBox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                 <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                    clip-rule="evenodd"></path>
                              </svg>
                              <span class="text-gray-900 font-medium">
                                 Communication and Engagement
                              </span>
                           </li>
                           <li class="flex align-items mb-3">
                              <svg class="w-5 h-5 text-blue-500 mr-2" fill="currentColor" viewBox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                 <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                    clip-rule="evenodd"></path>
                              </svg>
                              <span class="text-gray-900 font-medium">
                                 Monitoring and Reporting
                              </span>
                           </li>
                           <li class="flex align-items mb-3">
                              <svg class="w-5 h-5 text-blue-500 mr-2" fill="currentColor" viewBox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                 <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                    clip-rule="evenodd"></path>
                              </svg>
                              <span class="text-gray-900 font-medium">
                                 Data-Driven Insights
                              </span>
                           </li>
                           <li class="flex align-items mb-3">
                              <svg class="w-5 h-5 text-blue-500 mr-2" fill="currentColor" viewBox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                 <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                    clip-rule="evenodd"></path>
                              </svg>
                              <span class="text-gray-900 font-medium">
                                 Automated Workflows
                              </span>
                           </li>
                           <li class="flex align-items">
                              <svg class="w-5 h-5 text-blue-500 mr-2" fill="currentColor" viewBox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                 <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                    clip-rule="evenodd"></path>
                              </svg>
                              <span class="text-gray-900 font-medium">
                                 Security and Data Privacy
                              </span>
                           </li>
                        </ul>
                        <p class="lg:text-xl mb-4">
                           Helping You Stay Ahead by Turning Customer Challenges Into Opportunities for Exceptional Service.
                        </p>
                     </div>
                  </div>
                  <div class="">
                     <img src="https://img.freepik.com/free-vector/coloured-statistics-design_1212-417.jpg"
                        class="rounded-md w-full overflow-hidden" />
                  </div>
               </div>
            </div>
         </section>
         <div class="container mx-auto">
            <div class="text-blue-gray-600 border-t border-gray-200 mt-6">
               <footer class="py-2">
                  <div class="flex w-full flex-wrap items-center justify-center gap-6 px-2 md:justify-between">
                     <p class="block antialiased font-sans text-sm leading-normal font-normal text-inherit">
                        &#169; 2025
                        <a class="transition-colors hover:text-blue-500 font-bold" href="https://www.spring-tech.xyz"
                           target="_blank">Spring Tech, LLC.</a>
                     </p>
                     <ul class="flex items-center gap-4">
                        <li><a href="https://www.spring-tech.xyz" target="_blank"
                              class="block antialiased font-sans text-sm leading-normal py-0.5 px-1 font-normal text-inherit transition-colors hover:text-blue-500">About
                              Us</a>
                        </li>
                        <li><a href="https://www.spring-tech.xyz" target="_blank"
                              class="block antialiased font-sans text-sm leading-normal py-0.5 px-1 font-normal text-inherit transition-colors hover:text-blue-500">Blog</a>
                        </li>
                        <li><a href="https://www.spring-tech.xyz" target="_blank"
                              class="block antialiased font-sans text-sm leading-normal py-0.5 px-1 font-normal text-inherit transition-colors hover:text-blue-500">License</a>
                        </li>
                     </ul>
                  </div>
               </footer>
            </div>
         </div>
   }
}