@if (state()?.mode === 'verify') {
    @if (state()?.loading) {
        <div class="container mx-auto">
           <div class="flex flex-col justify-center items-center mx-auto pt-10">
              <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                 <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
              </svg>
              <div class="mt-4">Verifying link...</div>
           </div>
        </div>
        } @else {
            @if (!state()?.loading) {
                @if (state()?.error) {
                    <div class="container mx-auto pt-10">
                        <div class="mt-4 flex flex-col items-center mx-auto max-w-[500px]">
                            <div class="p-4 rounded-lg border bg-white w-full">
                                @if (state()?.error) {
                                    <div class="flex items-center p-4 mb-4 text-red-800 rounded-lg bg-red-50">
                                        <p class="text-sm font-medium">{{state()?.error}}</p>
                                    </div>
                                }
                                <div class="mt-4">
                                    <div class="mt-3 flex items-center justify-between">
                                        <a href="http://localhost:8080/oauth2/authorize?response_type=code&client_id=client&scope=openid&redirect_uri=http://localhost:3000&code_challenge_method=S256&code_challenge=zazFAVHE9Voq8MhBAbe7R8IqQ78K_EM8eGLwwDSeXec" class="bg-blue-600 hover:bg-blue-700 p-2 rounded-md text-white text-sm">Log In</a>
                                        <a [routerLink]="['/resetpassword']" class="inline-flex justify-center items-center bg-blue-600 hover:bg-blue-700 p-2 rounded-md text-white text-sm">
                                            Reset Password
                                            <svg xmlns="http://www.w3.org/2000/svg" stroke-linejoin="round" width="24" height="24" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke="currentColor" class="shrink-0 size-4">
                                                <path d="m15 4.5 7.5 7.5-7.5 7.5" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
}
@if (state()?.mode === 'reset') {
    @if (state()?.success) {
        <div class="container mx-auto pt-10">
            <div class="mt-4 flex flex-col items-center mx-auto max-w-[500px]">
                <div class="p-4 rounded-lg border bg-white w-full">
                    @if (state()?.message) {
                        <div class="flex items-center p-4 mb-4 text-green-800 rounded-lg bg-green-50">
                            <p class="text-sm font-medium">{{state()?.message}}</p>
                            <button (click)="closeMessage()" type="button" class="ms-auto -mx-1.5 -my-1.5 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 p-1.5 hover:bg-green-200 inline-flex items-center justify-center h-8 w-8" aria-label="Close">
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/></svg>
                            </button>
                        </div>
                    }
                    <div class="mt-4">
                        <a href="http://localhost:3000/resetpassword" class="mt-4 text-base text-blue-600 hover:underline">Forgot Password?</a>
                        <div class="mt-3 flex items-center justify-between">
                            <a href="http://localhost:8080/oauth2/authorize?response_type=code&client_id=client&scope=openid&redirect_uri=http://localhost:3000&code_challenge_method=S256&code_challenge=zazFAVHE9Voq8MhBAbe7R8IqQ78K_EM8eGLwwDSeXec" class="bg-blue-600 hover:bg-blue-700 p-2 rounded-md text-white text-sm">Log In</a>
                            <a [routerLink]="['']" class="inline-flex justify-center items-center bg-blue-600 hover:bg-blue-700 p-2 rounded-md text-white text-sm">
                                Back to home
                                <svg xmlns="http://www.w3.org/2000/svg" stroke-linejoin="round" width="24" height="24" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke="currentColor" class="shrink-0 size-4">
                                    <path d="m15 4.5 7.5 7.5-7.5 7.5" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    } @else {
    <div class="container mx-auto pt-10">
        <div class="mt-4 flex flex-col items-center">
            <img class="size-20 rounded-md bg-gray-400 p-3" src="https://cdn-icons-png.flaticon.com/512/9732/9732800.png" alt="Your Company" width="80" height="80">
            <h2 class="mt-5 text-xl font-semibold text-gray-800">Enter New Password</h2>
        </div>
        <div class="mt-4 flex flex-col items-center mx-auto max-w-[500px]">
            <div class="p-4 rounded-lg border bg-white w-full">
                @if (state()?.message) {
                    <div class="flex items-center p-4 mb-4 text-green-800 rounded-lg bg-green-50">
                        <p class="text-sm font-medium">{{state()?.message}}</p>
                        <button (click)="closeMessage()" type="button" class="ms-auto -mx-1.5 -my-1.5 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 p-1.5 hover:bg-green-200 inline-flex items-center justify-center h-8 w-8" aria-label="Close">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/></svg>
                        </button>
                    </div>
                }
                @if (state()?.error) {
                    <div class="flex items-center p-4 mb-4 text-red-800 rounded-lg bg-red-50">
                        <p class="text-sm font-medium">{{state()?.error}}</p>
                        <button (click)="closeMessage()" type="button" class="ms-auto -mx-1.5 -my-1.5 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8" aria-label="Close">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/></svg>
                        </button>
                    </div>
                }
                <form #form="ngForm" (ngSubmit)="createNewPassword(form)" class="">
                    <div class="space-y-6">
                        <input type="hidden" [ngModel]="state()?.userUuid" name="userUuid" id="userUuid" required />
                        <input type="hidden" [ngModel]="state()?.token" name="token" id="token" required />
                        <div>
                            <label for="password" class="mb-2 text-sm font-medium text-gray-800">New Password</label>
                            <input type="password" ngModel #password="ngModel" name="password" id="password" placeholder="••••••••" password minlength="6" class="border text-gray-800 text-sm rounded-lg w-full p-2.5" [ngClass]="[(password.touched && password.dirty && password.invalid) ? 'outline-red-500 bg-red-100' : '']" required [disabled]="state()?.loading" />
                            @if (password.touched && password.dirty && password.invalid && password.errors['required']) {
                                <div class="mt-2 font-normal text-red-500">Password is required</div>
                            }
                            @if (password.touched && password.dirty && password.invalid && password.errors['minlength']) {
                                <div class="mt-2 font-normal text-red-500">Password is too short</div>
                            }
                        </div>
                        <div>
                            <label for="confirmPassword" class="mb-2 text-sm font-medium text-gray-800">Confirm New Password</label>
                            <input type="password" ngModel #confirmPassword="ngModel" name="confirmPassword" id="confirmPassword" placeholder="••••••••" confirmPassword minlength="6" class="border text-gray-800 text-sm rounded-lg w-full p-2.5" [ngClass]="[(confirmPassword.touched && confirmPassword.dirty && confirmPassword.invalid) ? 'outline-red-500 bg-red-100' : '']" required [disabled]="state()?.loading" />
                            @if (confirmPassword.touched && confirmPassword.dirty && confirmPassword.invalid && confirmPassword.errors['required']) {
                                <div class="mt-2 font-normal text-red-500">Password is required</div>
                            }
                            @if (confirmPassword.touched && confirmPassword.dirty && confirmPassword.invalid && confirmPassword.errors['minlength']) {
                                <div class="mt-2 font-normal text-red-500">Password is too short</div>
                            }
                        </div>
                        <button type="submit" [disabled]="form.invalid || state()?.loading" class="disabled:bg-gray-300 w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                            Update Password
                        </button>
                    </div>
                </form>
                <div class="mt-4">
                    <a href="http://localhost:3000/resetpassword" class="mt-4 text-base text-blue-600 hover:underline">Forgot Password?</a>
                    <div class="mt-3 flex items-center justify-between">
                        <a href="http://localhost:8080/oauth2/authorize?response_type=code&client_id=client&scope=openid&redirect_uri=http://localhost:3000&code_challenge_method=S256&code_challenge=zazFAVHE9Voq8MhBAbe7R8IqQ78K_EM8eGLwwDSeXec" class="bg-blue-600 hover:bg-blue-700 p-2 rounded-md text-white text-sm">Log In</a>
                        <a [routerLink]="['']" class="inline-flex justify-center items-center bg-blue-600 hover:bg-blue-700 p-2 rounded-md text-white text-sm">
                            Back to home
                            <svg xmlns="http://www.w3.org/2000/svg" stroke-linejoin="round" width="24" height="24" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke="currentColor" class="shrink-0 size-4">
                                <path d="m15 4.5 7.5 7.5-7.5 7.5" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
}